.baseline_preference_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: var(--background-color-dark);
  min-height: 100vh;
  min-width: 20em;
}

.baseline_preference_form__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.baseline_preference_form__content {
  width: 85%;
  max-width: 40em;
  align-self: center;
  margin: 0.8em 1.5em 5.8em 1.5em;
}

.baseline_preference_form__footer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.baseline_preference_form__nav_bar {
  display: none;
}

.baseline_preference_form__header {
  width: 100%;
}

.baseline_preference_form__header--noBackground {
  display: none;
}

.baseline_preference_form__button_container {
  display: none;
}

@media (min-width: 603px) {
  .baseline_preference_form__footer {
    display: none;
  }

  .baseline_preference_form__nav_bar {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .baseline_preference_form__header {
    display: none;
  }

  .baseline_preference_form__button_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }

  .baseline_preference_form__header--noBackground {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 8em auto 0 auto;
  }
}
