.consent_history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: var(--background-color-dark);
  min-height: 100vh;
  min-width: 20em;
}

.consent_history__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.consent_history__content {
  width: 85%;
  max-width: 40em;
  align-self: center;
  margin: 0.8em 1.5em 5.8em 1.5em;
}
