.data_requests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: var(--background-color-dark);
  min-height: 100vh;
  min-width: 20em;
}

.data_requests__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data_requests__content {
  width: 85%;
  max-width: 40em;
  align-self: center;
  margin: 0.8em 1.5em 5.8em 1.5em;
}

.data_requests__footer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.data_requests__nav_bar {
  display: none;
}

.data_requests__header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.data_requests__header--noBackground {
  display: none;
}

@media (min-width: 603px) {
  .data_requests__footer {
    display: none;
  }

  .data_requests__nav_bar {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .data_requests__header {
    display: none;
  }

  .data_requests__header--noBackground {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 8em auto 0 auto;
  }

  .data_requests__body {
    justify-content: flex-start;
  }
}
