.data_sharing_element {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 3%;
  grid-template-rows: auto;
  align-items: center;
  padding: 0.8em 0;
  color: var(--primary-text-color);
  font-size: 1.1rem;
  font-weight: 650;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

.data_sharing_element--extra-column {
  grid-template-columns: 3fr 1fr 1fr;
}

.data_sharing_element__data_element {
  justify-self: flex-start;
}

.data_sharing_element__checker {
  justify-self: flex-start;
}

.data_sharing_element__checker input[type='checkbox']:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.data_sharing_element__label {
  justify-self: flex-start;
  color: var(--primary-color-dark);
  border-radius: 0.3em;
  font-weight: 600;
  padding: 0.15em 0.6em;
  background-color: var(--background-color-primary);
}
