.data_requests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: var(--background-color-dark);
  min-height: 100vh;
  min-width: 270px;
}

.data_requests__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data_requests__content {
  width: 85%;
  max-width: 550px;
  align-self: center;
  margin: 0.8em 1.5em 5.8em 1.5em;
}
