.footer {
  background-color: var(--background-color-light);
  position: fixed;
  max-height: 5em;
  width: 100%;
  bottom: 0;
  flex-shrink: 0;
  transition: transform 400ms ease-in;
  transform: translateY(0);
}

.footer--hide {
  transform: translateY(100%);
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
}

.footer__content--alignEvenly {
  justify-content: space-evenly;
}
