.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em 1.8em;
  background-color: var(--background-color-light);
  border-radius: 0 0 100% 100%;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 650;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  flex-grow: 1;
  max-height: 30%;
  width: 100%;
  top: 0;
}

.header__main {
  text-align: center;
  margin: 1.2em 0;
}

.header--highlighted {
  color: var(--primary-color);
}
