.home_element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 270px;
  margin: 0.8em 1.5em;
  padding: 1.2em 1.5em;
  background-color: var(--background-color-light);
  border-radius: 2em;
  box-shadow: var(--box-shadow);
}

.home_element__label {
  margin: 0 0.5em;
  color: var(--primary-text-color);
  text-align: center;
  font-size: 1.18rem;
  font-weight: 650;
  line-height: 1.6em;
  letter-spacing: 0.05em;
}

.home_element__badge {
  border-radius: 50%;
  width: 1.6em;
  height: 1.6em;
  padding: 0.15em;
  background-color: var(--primary-color);
  color: var(--text-icon);
  text-align: center;
  font-size: 1.18rem;
  font-weight: 650;
}
