.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-dark);
  min-height: 100vh;
  min-width: 20em;
}

.home__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.home__content {
  width: 85%;
  max-width: 40em;
  align-self: center;
  margin: 0.8em 1.5em 5.8em 1.5em;
}

.home__footer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.home__nav_bar {
  display: none;
}

.home__header {
  width: 100%;
}

@media (min-width: 603px) {
  .home__footer {
    display: none;
  }

  .home__nav_bar {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .home__header {
    display: none;
  }
}
