.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-dark);
  height: 100vh;
  min-width: 270px;
}

.home__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.home__content {
  width: 85%;
  align-self: center;
  margin: 0.8em 1.5em 5.8em 1.5em;
}
