.home_element {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  min-height: 6em;
  margin: 0.8em 0 1.8em 0;
  padding: 1.2em 2em;
  background-color: var(--background-color-light);
  border-radius: 2em;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: 0.5s;
  cursor: pointer;
}

.home_element:hover {
  box-shadow: none;
  color: var(--primary-color-dark);
}

.home_element__label {
  margin: 0 0.5em;
  text-align: center;
  font-size: 1.18rem;
  font-weight: 650;
  line-height: 1.6em;
  letter-spacing: 0.05em;
}

.home_element__badge {
  border-radius: 50%;
  width: 1.6em;
  height: 1.6em;
  padding: 0.15em;
  background-color: var(--primary-color);
  color: var(--text-icon);
  text-align: center;
  font-size: 1.18rem;
  font-weight: 650;
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

.no_select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
