:root {
  box-sizing: border-box;
  --primary-color: #2fbca1;
  --primary-color-dark: #31b39b;
  --primary-color-dark-extra: #2a9481;
  --primary-color-light: #d9faf1;
  --primary-color-light-extra: #f3fefb;
  --primary-text-color: #212121;
  --secondary-text-color: #888787;
  --text-icon: #ffffff;
  --background-color-light: #ffffff;
  --background-color-dark: rgba(240, 240, 240, 0.7);
  --background-border-color: #707070;
  --box-shadow: 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.1);
  --button-box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3);
  --button-box-shadow-light: 0 0 0.3em rgba(0, 0, 0, 0.5);
  --button-box-shadow-primay: 0 0 0.3em #31b39b;
  --button-box-shadow-primay-extra: 0 0 0.3em #2a9481;
  font-size: 60%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root,
#app,
#app > div {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (min-width: 768px) {
  :root {
    font-size: 100%;
  }
}
