:root {
  box-sizing: border-box;
  --primary-color: #2fbca1;
  --primary-color-dark: #29af97;
  --primary-color-dark-extra: #2a9481;
  --primary-color-light: #e4f6f2;
  --primary-color-light-extra: #f3fefb;
  --primary-text-color: #212121;
  --secondary-text-color: #888787;
  --text-icon: #ffffff;
  --background-color-light: #ffffff;
  --background-color-dark: rgba(240, 240, 240, 0.7);
  --background-color-dark-extra: rgba(187, 187, 187, 0.7);
  --background-color-primary: rgba(47, 188, 161, 0.1);
  --background-border-color: #707070;
  --background-border-color-light: #d4d3d3;
  --box-shadow: 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.1);
  --button-box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3);
  --button-box-shadow-light: 0 0 0.3em rgba(0, 0, 0, 0.5);
  --button-box-shadow-primay: 0 0 0.3em #31b39b;
  --button-box-shadow-primay-extra: 0 0 0.3em #2a9481;
  font-size: 60%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root,
#app,
#app > div {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (min-width: 400px) {
  :root {
    font-size: 70%;
  }
}

@media (min-width: 500px) {
  :root {
    font-size: 80%;
  }
}

@media (min-width: 1024px) {
  :root {
    font-size: 90%;
  }
}

@media (min-width: 2048px) {
  :root {
    font-size: 100%;
  }
}

.Modal {
  position: relative;
  z-index: 2;
  width: 100%;
  top: 35%;
  left: auto;
  right: auto;
  bottom: auto;
  margin: auto;
  transform: translate(-50%, -50%);
  background-color: var(--background-color-light);
  border: 1px solid transparent;
  border-radius: 2em;
  box-shadow: var(--box-shadow);
  padding: 3em 2em 1em 2em;
  outline: none;
  font-size: 1.1rem;
  font-weight: 650;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  max-width: 36.5em;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color-dark-extra);
}

@keyframes growDown {
  0% {
    display: none;
    opacity: 0;
    transform: rotateX(-90deg);
  }
  70% {
    opacity: 0.5;
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
