:root {
  box-sizing: border-box;
  --hue: 169;
  --saturation: 60%;
  --light: 46%;
  --primary-color: hsl(var(--hue), var(--saturation), var(--light));
  --primary-color-dark: hsl(var(--hue), var(--saturation), calc(var(--light) - 8%));
  --primary-color-dark-extra: hsl(var(--hue), var(--saturation), calc(var(--light) - 12%));
  --primary-color-light: hsl(var(--hue), var(--saturation), calc(var(--light) + 8%));
  --primary-color-light-extra: hsl(var(--hue), var(--saturation), calc(var(--light) + 12%));
  --primary-text-color: #212121;
  --secondary-text-color: #888787;
  --text-icon: #ffffff;
  --background-color-light: #fffffff3;
  --background-color-dark: rgba(233, 232, 232, 0.568);
  --background-color-dark-extra: rgba(187, 187, 187, 0.7);
  --background-color-primary: hsla(var(--hue), var(--saturation), var(--light), 0.2);
  --background-border-color: #707070;
  --background-border-color-light: #d4d3d3;
  --box-shadow: 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.1);
  --button-box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3);
  --button-box-shadow-light: 0 0 0.3em rgba(0, 0, 0, 0.5);
  --button-box-shadow-primay: 0 0 0.3em var(--primary-color);
  --button-box-shadow-primay-extra: 0 0 0.3em var(--primary-color-dark);
  font-size: 60%;
  --nav-height: 4.5em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root,
#app,
#app > div {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Modal {
  position: relative;
  z-index: 2;
  width: 100%;
  top: 35%;
  left: auto;
  right: auto;
  bottom: auto;
  margin: auto;
  transform: translate(-50%, -50%);
  background-color: var(--background-color-light);
  border: 1px solid transparent;
  border-radius: 2em;
  box-shadow: var(--box-shadow);
  padding: 3em 2em 1em 2em;
  outline: none;
  font-size: 1.1rem;
  font-weight: 650;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  max-width: 36.5em;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color-dark-extra);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes growDown {
  0% {
    display: none;
    opacity: 0;
    transform: rotateX(-90deg);
  }
  70% {
    opacity: 0.5;
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

input[type='range'] {
  --thumbSize: 1.2rem;
  --trackSize: 0.8rem;
  --thumbBg: var(--primary-color);
  --trackBg: var(--background-color-dark);
  --progressBg: var(--primary-color);

  /* webkit progress workaround */
  --webkitProgressPercent: 0%;
}

input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: var(--thumbSize);
  width: 100%;
  margin: 0;
  padding: 0;
}
input[type='range']:focus {
  outline: none;
}

/* Thumb */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  background-color: var(--thumbBg);
  border-radius: calc(var(--thumbSize) / 2);
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
  cursor: pointer;
}
input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  background-color: var(--thumbBg);
  border-radius: calc(var(--thumbSize) / 2);
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
  cursor: pointer;
}
input[type='range']::-ms-thumb {
  -ms-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  background-color: var(--thumbBg);
  border-radius: calc(var(--thumbSize) / 2);
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
  cursor: pointer;
}

/* Track */
input[type='range']::-webkit-slider-runnable-track {
  height: var(--trackSize);
  background-image: linear-gradient(
    90deg,
    var(--progressBg) var(--webkitProgressPercent),
    var(--trackBg) var(--webkitProgressPercent)
  );
  border-radius: calc(var(--trackSize) / 2);
}
input[type='range']::-moz-range-track {
  height: var(--trackSize);
  background-color: var(--trackBg);
  border-radius: calc(var(--trackSize) / 2);
}
input[type='range']::-ms-track {
  height: var(--trackSize);
  background-color: var(--trackBg);
  border-radius: calc(var(--trackSize) / 2);
}

/* Progress */
input[type='range']::-moz-range-progress {
  height: var(--trackSize);
  background-color: var(--progressBg);
  border-radius: calc(var(--trackSize) / 2) 0 0 calc(var(--trackSize) / 2);
}
input[type='range']::-ms-fill-lower {
  height: var(--trackSize);
  background-color: var(--progressBg);
  border-radius: calc(var(--trackSize) / 2) 0 0 calc(var(--trackSize) / 2);
}
