.nav_bar {
  background-color: var(--background-color-light);
  position: fixed;
  max-height: 5em;
  width: 100%;
  top: 0;
  flex-shrink: 0;
  padding: 0 0.5em;
  z-index: 100;
  box-shadow: var(--box-shadow);
}

.nav_bar__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  max-width: calc(80vw+10em);
  margin: auto;
}
