.nav_bar {
  background-color: var(--primary-color);
  position: fixed;
  max-height: 5em;
  width: 100%;
  top: 0;
  flex-shrink: 0;
  padding: 0.5em 2em;
  z-index: 100;
  box-shadow: var(--box-shadow);
}

.nav_bar__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  margin: auto;
}
