.nav_bar {
  background-color: var(--primary-color);
  position: fixed;
  height: var(--nav-height);
  width: 100%;
  top: 0;
  flex-shrink: 0;
  padding: 0.5em 2em;
  z-index: 100;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

.nav_bar__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  margin: auto;
}

.nav_bar__home {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  margin: auto;
}

.nav_bar__items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  margin: auto;
}
