.portal_picker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 20em;
}

.portal_picker__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em 1.8em;
  background-color: var(--primary-color-light-extra);
  border-radius: 0 0 100% 100%;
  font-size: 2.5rem;
  font-weight: 650;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  min-height: 40vh;
  width: 100%;
  top: 0;
}

.portal_picker__header__secondary {
  font-size: 2rem;
  text-transform: none;
  margin-right: 5em;
}

.align_left {
  text-align: left;
}

.secondary_color {
  color: var(--secondary-text-color);
}

.portal_picker__header__main {
  margin: 1.2em 0;
}

.portal_picker__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color-light-extra);
  border-radius: 100% 100% 0 0;
  min-height: 40vh;
}

.portal_picker__content {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-self: center;
  margin: 0.8em 1.5em 1.8em 1.5em;
  max-width: 30em;
}

.portal_picker__content__label {
  font-size: 1.3rem;
  font-weight: 650;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  color: var(--primary-color);
  margin: 0.5em 1.2em;
}
