.study_decline_survey_form {
  margin: 0.8em 0 1.8em 0;
  padding: 1.2em 2em;
  background-color: var(--background-color-light);
  border-radius: 2em;
  box-shadow: var(--box-shadow);
}

.study_decline_survey_form__question {
  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: 650;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  padding: 0.8em 0;
}

.study_decline_survey_form__comment {
  opacity: 1;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
  margin: 0.8em 0;
}

.study_decline_survey_form__comment--hidden {
  opacity: 0;
}
