.study_data_sharing_form {
  margin: 0.8em 0 1.8em 0;
  padding: 1.2em 2em;
  background-color: var(--background-color-light);
  border-radius: 2em;
  box-shadow: var(--box-shadow);
}

.study_data_sharing_form__label_container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 3%;
  grid-template-rows: auto;
  align-items: center;
}

.three_columns {
  grid-template-columns: 3fr 1fr 1fr;
}

.study_data_sharing_form__label {
  max-width: 5em;
  font-size: 1rem;
  font-weight: 650;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  color: var(--primary-color);
  padding: 0.8em 0;
  justify-self: flex-start;
  text-align: left;
}

.align_left {
  justify-self: flex-start;
}
