.study_data_sharing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: var(--background-color-dark);
  min-height: 100vh;
  min-width: 20em;
}

.study_data_sharing__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.study_data_sharing__content {
  width: 85%;
  max-width: 40em;
  align-self: center;
  margin: 0.8em 1.5em 5.8em 1.5em;
}

.study_data_sharing__content__description {
  margin: 0em 1.5em 2em 1.5em;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
  text-align: justify;
}

.study_data_sharing__footer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.study_data_sharing__nav_bar {
  display: none;
}

.study_data_sharing__header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.study_data_sharing__header--noBackground {
  display: none;
}

.study_data_sharing__button_container {
  display: none;
}

@media (min-width: 603px) {
  .study_data_sharing__footer {
    display: none;
  }

  .study_data_sharing__nav_bar {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .study_data_sharing__header {
    display: none;
  }

  .study_data_sharing__header--noBackground {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 8em auto 0 auto;
  }

  .study_data_sharing__button_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }

  .study_data_sharing__body {
    justify-content: flex-start;
  }
}
